:root {
  --text-color: #ffffff;
  --secondary-color: #272142;
  --accent-color: #f65282;
  --text-font: "Roboto", sans-serif;
  --button-font: "Montserrat", sans-serif;
  --box-shadow: 1px 1px 18px -7px rgba(255, 255, 255, 0.75);
  --text-shadow: 1px 1px 18px rgba(255, 255, 255, 0.75);
}

h1,
h2,
h3,
p {
  font-family: var(--text-font);
  color: var(--text-color);
}

.header {
  padding: 38px 0;
}

.logo {
  width: 150px;
}

.styled-nav {
  flex-grow: 0;
}

.btn-nav {
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.btn-nav i {
  color: var(--text-color);
}

.nav-item-styled a {
  color: var(--text-color);
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  transition: all 350ms ease-in-out;
}

.nav-item-styled a:hover {
  color: var(--accent-color);
  text-shadow: var(--text-shadow);
}

.hero {
  width: 100%;
  padding: 0 140px 301px;
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-sub-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;

  margin-top: 158px;
  margin-bottom: 25px;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hero-main-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 1.17;

  margin-bottom: 25px;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hero-text {
  width: 460px;
  margin: 0 auto 48px;
  text-align: center;
  line-height: 1.67;
  font-size: 18px;
}

.hero-btn {
  font-family: var(--button-font);
  font-weight: 700;

  padding: 18px 40px;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-color);
  background-color: var(--text-color);
  transition: all 350ms ease-in-out;
}

.hero-btn:hover {
  color: #f65282;
  box-shadow: var(--box-shadow);
}

.gallery {
  padding: 100px 128px;
  background-color: #1b1b1b;
}

.gallery-img {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 38px 140px;
  background-color: #282323;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item {
  padding: 0 15px;
}

.social-item a {
  color: var(--text-color);
  transition: all 350ms ease-in-out;
}

.social-item a:hover {
  color: var(--accent-color);
  text-shadow: var(--text-shadow);
}

.copyright-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
}

@media (max-width: 659px) {
  .footer {
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  .hero-text {
    width: auto;
  }
}

@media (max-width: 992px) {
  .hero {
    padding: 0px 40px 100px;
  }

  .hero-main-title {
    margin-top: 80px;
    font-size: 36px;
  }
  .hero-text {
    font-size: 16px;
  }

  .gallery {
    padding: 50px 40px;
  }
  .footer {
    padding: 38px 40px;
  }
}
